# https://browserl.ist/?q=>+5%25%2C+last+1+versions%2C+last+5+Electron+version%2C+last+5+Chrome+versions%2C+last+3+ChromeAndroid+major+version%2C+last+3+Android+major+version%2C+last+5+Firefox+major+version%2C+last+3+FirefoxAndroid+major+version%2C+last+3+Edge+major+version%2C+last+3+Opera+major+version%2C+last+2+Safari+major+version%2C+last+2+iOS+major+version%2C+last+2+Samsung+major+version%2C+IE+9%2C+IE+10%2C+IE+11%2C+Node+8%2C+Node+10%2C+Node+12

> 5%
last 1 versions
last 5 Electron version
last 5 Chrome versions
last 3 ChromeAndroid major version
last 3 Android major version
last 5 Firefox major version
last 3 FirefoxAndroid major version
last 3 Edge major version
last 3 Opera major version
last 2 Safari major version
last 2 iOS major version
last 2 Samsung major version
IE 9
IE 10
IE 11
Node 8
Node 10
Node 12
